h2
{
    color: red;
    font-size: 40px;
}
#header
{
    background-color: yellow;
}
#header a:link{}
#header a:visited{}
#header a:hover { background-color: purple}
#header a:active {}
#container
{
    width: 400px;
    background-color: #eeeeee;
    margin: 0 auto 0 auto;
}